<!DOCTYPE html>
<html lang="en">

<%- include("../templates/head.ejs") %>

  <body>

    <%- include("../templates/navBar.ejs") %>


      <div class="container">
        <h3>Add Customer</h3>
        <form action="/customer/add" method="POST">

          <div>
            <label class="form-label form-element" for="name">
              Name:
              <input required class="form-control" type="text" name="name" />
            </label>
          </div>
          <div>
            <label class="form-label form-element" for="smoker">
              Are you a smoker:
              <input type="checkbox" name="smoker" value="smoker">
            </label>
          </div>

          <div>
            <label class="form-label form-element" for="drinkLevel">
              How much do you drink:
              <select name="drinkLevel" required class="form-control" id="drinkLevel">
                <option value="abstemious">
                  abstemious
                </option>
                <option value="casual drinker">
                  casual drinker
                </option>
                <option value="social drinker">
                  social drinker
                </option>
              </select>
            </label>
          </div>
          <div>
            <label for="dressCode" class="form-label form-element">
              Preferred dress code:
              <select name="dressCode" required class="form-control" id="dressCode">
                <% for (let dressCode of dressCodes) { %>
                  <option value="<%= dressCode.dressCodeID %>">
                    <%= dressCode.dressCode %>
                  </option>
                  <% } %>
              </select>
            </label>
          </div>
          <div>
            <label class="form-label form-element" for="ambience">
              What is the ambience you like:
              <select name="ambience" required class="form-control" id="ambience">
                <option value="family">
                  family
                </option>
                <option value="friends">
                  friends
                </option>
                <option value="solitary">
                  solitary
                </option>
              </select>
            </label>
          </div>

          <div>
            <label class="form-label form-element" for="budget">
              What is the ambience you like:
              <select name="budget" required class="form-control" id="budget">
                <option value="medium">
                  medium
                </option>
                <option value="high">
                  high
                </option>
                <option value="low">
                  low
                </option>
              </select>
            </label>
          </div>

          <div>
            <label class="form-label form-element column" for="paymentMethod">
              Preferred payment methods:
              <% for (let method of paymentMethods) { %>
                <div class="form-element">
                  <input type="checkbox" name="paymentMethod" value="<%= method.paymentMethodsID %>">
                  <label for="<%= method.paymentMethodsID %>">
                    <%= method.method %>
                  </label>
                </div>
                <% } %>
            </label>
          </div>

          <div>
            <label class="form-label form-element column" for="cuisine">
              Preferred Cuisines:
              <% for (let cuisine of cuisines) { %>
                <div class="form-element">
                  <input type="checkbox" name="cuisine" value="<%= cuisine.cuisineID %>">
                  <label for="<%= cuisine.cuisineID %>">
                    <%= cuisine.cuisine %>
                  </label>
                </div>
                <% } %>
            </label>
          </div>

          <button type="submit" class="btn btn-outline-primary">Add Customer</button>
        </form>
      </div>
  </body>

</html>